.search-tab-stock-name {
  font-size: 2em;
  font-weight: 700;

  span {
    font-size: 0.5em;
  }
}

.search-tab-stock-detail-row {
  font-weight: 600;

  span {
    font-weight: normal;
  }

  p {
    margin-top: 1em;
    font-family: Roboto;
    font-weight: 300;
  }
}

.search-tab-container {
  display: flex;
}

.search-tab-details-wrapper {
  flex: 1;
}

.search-tab-chart-container {
  width: 400px;
  height: 200px;
  align-self: center;
}

@media only screen and (max-width: 768px) {
  .search-tab-stock-name {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  .search-tab-container {
    margin-left: 0.5em;
  }
}
