.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-image {
  width: 100%;
  position: fixed;
  height: 35vh;
  background-image: url('../../assets/home/bg-1.jpg');
}

.header-container {
  height: 35vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5vh;
}

.search-results-container {
  flex: 1;
  padding: 5% 15%;
  display: flex;
}
